<div class="page-header">
  <h1>
    Meta diária
    <small>
      <i class="ace-icon fa fa-angle-double-right"></i>
      Cadastro
    </small>
  </h1>
</div>
<%= render 'form', daily_goal: @daily_goal %>
<%= render 'history' , daily_goals: @daily_goals %>
